
*::selection {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.container {
    padding: 0 10%;
}

.page {
    width: 100vw;
    height: 100vh;
}

.top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px 0;
}

.top-header .container {
    display: flex;
    justify-content: space-between;
}

.top-header .container .logo {
    margin-left: -100px;
}

.top-header .navbar {
    margin-top: 10px;
    margin-right: -15px;
}

.top-header .navbar ul {
    display: flex;
    list-style: none;
}

.top-header .navbar ul li {
    margin-left: 25px;
    font-weight: normal;
}

.top-header .navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.top-header .navbar ul li a:hover {
    text-shadow: 0px 0px 1px black;
}

.top-header .toggle {
    display: none;
}

.home {
    background-image: url(../images/botanic.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    color:black;
}

.home .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home .container .row {
    margin-left: 105px;
}

.home h1 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15%;
    text-align: initial;
    letter-spacing: 3px;
}

.home p {
    font-size: 12px;
    color: #787878;
    text-align: initial;
    line-height: 24px;
}

.home .col-md-6 {
    margin-left: 0px;
}

.home a, .product a {
    display: table-cell;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px 30px;
    background: #39b4af;
    margin: 0 auto;
    margin-bottom: 15%;
}

.home a:hover, .product a:hover {
    background-color: black;
}

.spot {
    width: 100vw;
    padding: 50px 0;
    color: black;
    text-align: center;
}

.spot img {
    margin-bottom: -70px;
}

.spot h2 {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.spot p {
    font-size: 12px;
}

.spot .container {
    width: 50%;
    margin: 0 auto;
}

* {margin:0; padding: 0;}
html, body {height:100%;}

.bgParallax {
    margin: 30px auto;
    width: 100%;
    max-width: 1920px;  
    position: relative;
    min-height: 100%;
    margin-bottom: 0px;

    background-position: 50% 0;
    background-repeat: repeat;
    background-attachment: fixed;
}

.bgParallax h2 {
    color: black;
    font-weight: bold;
    text-align: initial;
    font-size: 24px;
    margin-left: 150px;
    margin-bottom: 50px;
    padding-top: 50px;    

}

.bgParallax p {
    color: black;
    text-align: initial;
    font-size: 10px;
    margin-left: 150px;
    font-weight: bold;
    margin-bottom: 40px;
    margin-top: -30px;
}


#skill {
    background-image: url(../images/programacao.jpg);
    -webkit-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.);
    -moz-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.);
    -ms-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.);
    -o-box-shadow:-20px 0 20px 5px rgba(0,0,0,0.);
    box-shadow:-20px 0 20px 5px rgba(0,0,0,0.);
}


.bgParallax article {
  width: 70%;
  text-align: initial;
  margin: 100 auto;
}


.retangulo {
    width: 30%;
    margin-left: 150px;
    margin-top: -80px;
}

.projects {
    background-color: #10c9c3;  
    padding: 100px;
    margin-left: -40px;
}

.projects .container {
    display: contents;
    padding: 50px;
    margin: 50 50 50 50;
}

.project .row {
    margin-left: -20px;
}

.projects .container img {
    width: 35px;
    height: 35px;
    margin-left: 100px;
}

.projects .container .row .cases {
    display: inline-flex;
}

.projects .container .row p {
    margin-left: 20px;
    font-size: 14px;
    color: white;
    font-weight: normal;
}

.projects .container .row .cases p {
    display: inline;
}

.vitral img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    margin: -15px;
}

 .square {
    position: relative;
    padding-bottom: 22%;
}   

.img-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.embedvideo {
    width: 40%;
   display: inline-block;
}

.load {
    text-align: center;
    background-color: #f5f5f5;
    margin: -15px;
}

.load .container {
    padding: 14px 35%;
}

.load .container p { 
    font-size: 12px;
    margin-top: 10px;
    color: black;
    font-weight: normal;
}

.load a:hover {
    color: #39b4af;
}

.process {
    width: 100vw;
    padding: 50px 0;
    color: black;
    text-align: center;
}

.process h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
}

.process p {
    font-size: 12px;
    color: #787878;
}

.process .container {
    width: 50%;
    margin: 0 auto;
}

.jobs {
    background-color: #f5f5f5;
}



.jobs .container {
    align-items: center;
    padding: 50px;
    color: black;
    text-align:center;
}

.jobs .container img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.w-100 {
    margin-top: 10px;
}


.jobs .container img p span {
    align-items: center;
}

.jobs .container span {
    font-size: 12px;
    color: #787878;
}

.jobs .container p {
    font-size: 12px;
}

.reviews {
    width: 100vw;
    padding: 50px 0;
    color: black;
    text-align: center;
    background-color: #10c9c3;
}

.reviews p {
    font-size: 16px;
    color: white;
}

.reviews span {
    font-size: 10px;
    margin: 0 auto;
    color: white;
}

.partners img {
    width: 17%;
    padding: 20px;
    margin-left: 24px;
}

.partners .container {
    padding: 0px;
}

.form {
    background-color: #f5f5f5;
    margin-bottom: 50px;
    padding: 40px;
}

.form .container h4 {
    text-align: center;
    padding: -112px;
}

.form .container a{
    display: table  ;

    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px 30px;
    background: #39b4af;
    margin: 0 auto;
    margin-bottom: 15%;
}

.foot {
    background-color: #141414;
    padding: 40px;
    color: white;
    margin-top: -50px;    
}

.foot p {
    font-size: 14px;    
}

ul {
    list-style-type: none;
    margin-left: 100px;
    font-size: 14px;
}

ul a {
    color: white;
}

ul a:hover {
    color: #39b4af;  
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: #10c9c3; 
    color: white; 
    cursor: pointer; 
    padding: 15px;
    border-radius: 0px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }

@media screen and (max-width: 768px) {

    .navbar {
        margin-left: -50px;
    }
    
    .jobs .container {
        margin-left: 0px;
    }

    .reviews .container {
        margin-left: 0px;
    }

    .partners .container {
        margin-right: 0px;
        display: inherit;
        
    }

    .partners img {
        width: 14%;
    }
}
 


@media screen and (max-width: 576px) {
    .home a {
        margin-bottom: 70%;
    }

    .home h1 {
        margin-top: 150%;
        font-size: 10px;
        display: flex;
    }

    .home p {
        font-size: 8px;
        line-height: 16px;
    }

    .home .container .row {
        margin-top: -260px;
        text-align: center;
    }

    .home .container .row p {
        text-align: center;
    }

    .home .container .row h1 {
        text-align: center;
    }

    .home a {
        display: flex;
        margin-left: 0px;
        font-size: 10px;
        padding: 4px;
       }



    .navbar {
        display: none;
    }
    
    .toggle {
        display: inline !important;
        cursor: pointer;
        font-size: 12px;
        color: black;
        position: absolute;
        right: 10px;
        top: 8px;
    }
    
    .spot h2 {
        font-size: 10px;
    }

    .spot p {
        font-size: 10px; 
    }

    .spot img {
        margin-left: -60px;
    }

    .bgParallax h2 {
        color: white;
        text-align: center;
        font-size: 14px;
        margin-left: 70px;
    }

    .bgParallax p {
        color: white;
        text-align: initial;
        font-size: 8px;
        margin-left: 100px;
    }

    .retangulo {
        margin-left: 100px;
    }

    .projects {
        margin-left: -120px;
    }

    .projects .container .row .cases p {
        font-size: 10px;
    }

    #myBtn {
    }    
}

