    /*
* MUDANDO A COR DA SELEÇÃO
*/
*::selection {
    background-color: black;
}

* {
    margin: 0;
    padding: 0;
}


body {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}


/*
* COMMON
*/
.container {
    padding: 0 10%;
}

.page {
    width: 100vw;
    height: 100vh;
}


/*
* TOP HEADER
*/
.top-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.top-header .container {
    display: flex;
    justify-content: space-between;
}

.top-header .name {
    position: relative;
    top: -5px;
    left: 15px;
    color: black;
    letter-spacing: 10px;
}

.top-header .navbar ul {
    display: flex;
    list-style: none;
}

.top-header .navbar ul li {
    margin-left: 25px;
}

.top-header .navbar ul li a {
    color: black;
    text-decoration: none;
    font-size: 12px;
}

.top-header .navbar ul li a:hover {
    text-shadow: 0px 0px 1px black;
}

.top-header .toggle {
    display: none;
}


/*
* HOME
*/
.home {
    background-color: #e9e9e9;
    background-size: cover;
    background-position: center;
    text-align: center;
    color:black;
}

.home .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home h1 {
    font-size: 2em;
    font-weight: normal;
    margin-top: 15%;
}

.home p {
    font-size: 14px;
    color: black;
}

.home a, .product a {
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px 30px;
    background: #39b4af;
    margin: 0 auto;
    margin-bottom: 15%;
}

.home a:hover, .product a:hover {
    background-color: black;
}



/*
* SPOT
*/
.spot {
    width: 100vw;
    padding: 50px 0;
    color: black;
    text-align: center;
}

.spot img {
    margin-bottom: -10px;
}

.spot h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
}

.spot p {
    font-size: 12px;
}

.spot .container {
    width: 50%;
    margin: 0 auto;
}


/*
* PRODUCT
*/


.skills {
    background-color: #f8f9f9;
    
}

.skills .container {
    display: inline-block;
    flex-flow: row nowrap;
}

.skills .container p {
    color:black;
    padding: 20px;
    font-size: 12px;
}

.skills .container h2 {
    color: black;
    margin-bottom: 20px;
    margin-top: 100px;
    margin-left: 15px;
    font-size: 24px;
}

.retangulo {
    width: 50%;
    margin-left: 15px;
    margin-top: -35px;
}

.projects {
    background-color: #10c9c3;  
    padding: 50px;
}

.projects .container {
    display: flex;
    padding: 50px;
    margin: 50 50 50 50;
}

.projects .container img {
    width: 40px;
    height: 40px;
}

.vitral  img {
    width: 250px;
    padding: 0 0 0 0;
}

.load {
    text-align: center;
    background-color: #f5f5f5;
}

.load .container {
    padding: 10px 10%;
}

.load .container p {
    font-size: 12px;
    margin-top: 6px;
}

.process {
    width: 100vw;
    padding: 50px 0;
    color: black;
    text-align: center;
}

.process h2 {
    font-size: 2em;
    font-weight: normal;
    margin-bottom: 20px;
}

.process p {
    font-size: 12px;
}

.process .container {
    width: 50%;
    margin: 0 auto;
}

.video .container {
    align-content: center;
    padding-left: 170px;
}

.jobs .container {
    align-items: center;
    background-color: black;
    padding: 50px;
}

.jobs .container img {
    width: 40px;
    height: 40px;
}

.jobs .container img p span {
    align-items: center;

}

.jobs .container span {
    font-size: 12px;
}

.jobs .container p {
    font-size: 12px;
}

.reviews {
    width: 100vw;
    padding: 50px 0;
    color: black;
    text-align: center;
    background-color: #10c9c3;
}

.reviews p {
    font-size: 16px;
    color: white;
}

.reviews span {
    font-size: 10px;
    margin: 0 auto;
    color: white;
}

.partners img {
    width: 17%;
    padding: 20px;
    margin-left: 20px;
}

.form {
    background-color: #f5f5f5;
}

.form .container h4 {
    text-align: center;
    padding: 50px;
}

.form .container a{
    display: table  ;

    color: #ffffff;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    padding: 20px 30px;
    background: #39b4af;
    margin: 0 auto;
    margin-bottom: 15%;


/*------- RESPPONSIVE AREA ------- */

/*
* Tablet
*/

@media screen and (max-width: 992px) {
    .home a {
        margin-bottom: 30%;
    }

    .home h1 {
        font-size: 4.5em;
        margin-top: 20%; 
    }

    .home p {
        font-size: 14px;
    }

    .spot h2 {
        font-size: 1.5em;
    }

    .spot p {
        font-size: 13px; 
    }
}

/*
*  BIG SCREEN CELL PHONES
*/ 

@media screen and (max-width: 768px) {
    .home a {
        margin-bottom: 40%;
    }

    .home h1 {
        margin-top: 30%;
        font-size: 4em;
    }

    .home p {
        font-size: 13px;
    }

    .spot h2 {
        font-size: 1.2em;
    }

    .spot p {
        font-size: 13px; 
    }
}

/*
* CELL PHONES
*/

@media screen and (max-width: 576px) {
    .home a {
        margin-bottom: 35%;
    }

    .home h1 {
        margin-top: 35%;
        font-size: 3em;
    }

    .home p {
        font-size: 11px;
    }

    
    .navbar {
        display: none;
    }
    
    .toggle {
        display: inline !important;
        cursor: pointer;
        font-size: 2em;
        color: #fff;
        position: absolute;
        right: 60px;
        top: 8px;
    }
    
    .spot h2 {
        font-size: 0.91em;
    }

    .spot p {
        font-size: 11px; 
    }
}